.popup.settings {
    // width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #252728;
    backdrop-filter: none;

    .popup-element {
        background: transparent;
    }

    .popup-header {
        background: transparent;
        cursor: auto;

        .controls-container .fa-times {
            font-size: 2em;
        }
    }
}
