.popup.settings {
    // width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: #252728;
    backdrop-filter: none;

    .popup-title {
        font-size: 2em;
    }

    .popup-element {
        background: transparent;
        flex-direction: row;
    }

    .popup-header {
        background: transparent;
        cursor: auto;

        .controls-container .fa-times {
            font-size: 2em;
        }
    }

    .settings-menu {
        width: 200px;
        margin-right: 10px;
    }

    .settings-menu__title {
        font-weight: bold;
        font-size: 17px;
        margin: 10px 0 2px;
    }

    .settings-menu__title:first-child {
        margin-top: 0;
    }

    .settings-menu__subitem {
        font-weight: normal;
        font-size: 15px;
        padding-left: 15px;

        transition: 0.1s ease-out;
        cursor: pointer;
        margin: 2px 0;
        padding: 3px 3px 1px 15px;
        border-radius: 4px;

        &:hover {
            background: hsla(200, 4%, 25%, 1);
        }
    }

    .settings-menu__subitem_active {
        background: hsla(200, 4%, 25%, 1);
    }

    .settings-scenes {
        width: 100%;
    }
}


.profile-settings_container {
    padding: 15px;
    border-radius: 5px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    background: #303030;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

    .name-contaner {
        margin: 0 10px;

        .title {
            transition: 0.5s;
        }
    }

    .profile-controls {
        margin: 0 12px;
    }

    .name-contaner .control {
        vertical-align: super;
        margin-left: 5px;
    }

    .profile-avatar_mini {
        transition: 0.5s;
        width: 100px;
        height: 100px;
        // margin: 0 auto;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    .controls-container .button {
        width: 150px;
    }

}

.emotes-settings {
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background: #303030;
    max-height: 80vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);


    .emotes-settings__items {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .emote-settings-item {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 10px;

            .icon {
                text-align: center;
                font-size: 1em;
                margin: 0 10px;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            .emotes-settings__icon_rename {
                margin-top: 5px;
                color: rgb(0, 187, 100);
            }

            .emotes-settings__icon_delete {
                color: #ff005e;
                margin-top: 6px;
            }
        }

    }

    .emote-settings-item_image {
        margin: auto;
    }

    .emote-settings-item_alias {
        margin: auto;
    }

    .emote-settings-item_right {
        margin: auto;
    }

    .emote-settings__input {
        outline: none;
        border: none;
        background: hsl(250, 1%, 15%);
        color: #aaa;
        padding: 4px;
        text-align: center;
        border-radius: 4px;
        transition: 0.1s background;


        &:focus {
            background: hsla(202, 1%, 25%, 1);
        }
    }

    .emote-settings__search {
        .emote-settings__input {
            width: 100%;
        }
    }

    .emotes-settings__amount {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .emotes-settings__info {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .add-emote-button {
        padding: 8px 14px 6px;
        width: unset;
        margin: auto;
        cursor: pointer;

        input {
            display: none;
        }
    }
}
