@import (reference) "../styles/main.less";

.cinema-mode {
    .control-panel_container {
        border-radius: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        // margin: 5px;
        margin-top: 0;

        transform: translateY(calc(100% - 24px));
        transition: 0.15s transform;
        transition-timing-function: @bubble;
        will-change: transform;

        &--expanded {
            // set to 15px so element don't go out of the bounds on bubble animation
            transform: translateY(15px);
            padding-bottom: 15px;

            .control-panel__expander i {
                transform: rotateZ(180deg);
            }
        }

        .control-panel__expander i {
            transition: 0.4s transform;
            transition-timing-function: @bubble;
        }

        .control-panel__expander {
            text-align: center;
        }
    }
}

.control-panel_container {
    border-radius: 5px;
    margin-top: 10px;
    // height: 100px;
    background: @darkMain;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

    &__expander {
        padding: 4px 0;
    }

    .chat-name {
        margin: 0;
    }

    .mini-profile {
        position: unset;
        box-shadow: none;
        margin: 0;
        background: transparent;
        height: unset;
        padding: 5px 10px 10px 10px;

        .chat-avatar {
            width: 42px;
            height: 42px;
        }
    }

    .mini-profile_second-section {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .control {
        margin-right: 5px;
    }


    .playlister {
        padding: 5px 5px 0 5px;

        .control-svg {
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%;
            height: 16px;
            width: 16px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 7px 0 0;
        }

        .show-playlist-icon {
            background-image: @playlistShow;
        }

        .add-to-playlist-icon {
            background-image: @playlistAdd;
            height: 18px;
            width: 18px;
            margin: 0 4px 0 0;
        }

        .item {
            margin-left: 7px;
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            .fa {
                height: 16px;
                width: 16px;
                margin: 0 5px 0 5px;
            }
        }

        >div {
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}