// Main colors
@red: #ff005e;
@darkMain: #303030;
@darkMainCinema: rgba(0, 3, 6, 0.6);
@darkSecond: #3B3B3B;
@darkSecondCinema: rgba(40, 43, 46, 0.4);
@darkThird: #666768;

// Font color
@body: #A1A1A1;
@link: #008bd0;

// Background
@bodyBG: rgba(36, 38, 39, 1);
@containerBG: #303030;

@popupHeaderBG: rgba(38, 38, 38, 0.9);

// Transition
@bubble: cubic-bezier(0, 0.8, 0.4, 1.25);

@import 'tools.less';
@import 'base64.less';
@import 'base.less';
@import 'utils.less';
@import 'responsive.less';
