@media (max-width: 768px) {
  .room-container {
    flex-direction: column;
  }
  .chat-container {
    max-width: unset;
    width: 100%!important;
    margin-bottom: 10px;
  }
  .video-player_mid, .video-player_top {
    margin: auto 0;
  }
}
